<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-dms" version="0.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-dms</name>
    <js-module name="cordova-plugin-dms" src="www/cordova-plugin-dms.js">
        <clobbers target="cordova.plugin.dms" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DMSPlugin">
                <param name="android-package" value="com.chinacreator.plugin.zzzhzf.persion.DMSPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/DMSPlugin.java" target-dir="src/com/chinacreator/plugin/zzzhzf/persion" />
        <source-file src="src/android/Library/FileUtils.java" target-dir="src/com/Library" />
        <source-file src="src/android/Library/IDCardDate.java" target-dir="src/com/Library" />
        <source-file src="src/android/Library/IDCardException.java" target-dir="src/com/Library" />
        <source-file src="src/android/Library/IDCardManager.java" target-dir="src/com/Library" />
        <source-file src="src/android/Library/IDCardMsg.java" target-dir="src/com/Library" />
        <source-file src="src/android/Library/IDCardRecognition.java" target-dir="src/com/Library" />
        <source-file src="src/android/jni/JniCall.java" target-dir="src/jni" />
        <framework src="src/dms.gradle" custom="true" type="gradleReference" />
        <hook type="after_plugin_install" src="scripts/afterPluginInstall.js" />
        <hook type="before_plugin_uninstall" src="scripts/beforePluginUninstall.js" />
    </platform>
</plugin>
